@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --text-color: #333;
  --primary-color: #6FCF97; /* Green color for primary elements */
  --secondary-color: #D00000; /* Dark red color for secondary elements */
}

body {
  color: var(--text-color);
  background-color: rgb(var(--foreground-rgb));
  font-family: 'Roboto', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  font-weight: bold;
}

@layer utilities {
  .text-balance {
    text-align: justify; 
  }
}

@layer utilities {
  .text-primary {
    color: var(--primary-color);
  }

  .text-secondary {
    color: var(--secondary-color);
  }
}
